@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

#app {
  width: 52vh;
  height: 90vh;
  padding: 6vh;
  background: #fff;
  box-shadow: 0 0 12px #2d3d49;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #1b212c;
}

.groups-view{
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 52vh;
    height: 100%;
    transition: display .5s ease-in-out;
}

.popup{
    position: absolute;
    z-index: 999;
    width: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup img{
    margin: 3rem auto 2rem auto;
    width: 5rem;
}

.popup input{
    width: calc(100% - 13vh);
    font-size: 2.5vh;
    padding: .5rem;
    z-index: 2;
    height: 7.5vh;
    background: transparent;
    border: none;
    box-shadow: inset 0 -0.5vh rgba(0, 0, 0, 0.1);
}

#svg-lines {
    position: absolute;
    top: 26.5%;
    left: 0;
    width: 100%;
    z-index: 0;
    overflow: visible;
    transform-origin: center 4vh;
}

.info{
    margin: auto;
    background-color: #E9E9E9;
    padding: .4rem;
    border-radius: .4rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svg-data {
    fill: none;
    stroke-width: 0.5vh;
}

.st0, .svg-loader-segment {
    fill: none;
    stroke: #42a3e4;
    stroke-width: 0.3vh;
    align-self: inherit;
    stroke-alignment: inside;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.st0 {
    stroke-dasharray: 0, 900;
    stroke-dashoffset: 0;
}

.popup input[type=text]:focus ~ * .st0 {
    stroke-dasharray: 210, 900;
    stroke-dashoffset: 0;
}

.popup input:focus {
    outline: none;
    box-shadow: inset 0 -0.5vh transparent;
}

#submit{
    margin-top: 3rem;
    cursor: pointer;
    font-size: 2.5rem;
    z-index: 3;
    color: #42a3e4;
}

#back{
    font-size: 1.6rem;
    margin: 0.4rem .4rem;
    display: inline-block;
    /* display: none; */
    cursor: pointer;
}

#next{
    font-size: 1.6rem;
    margin: 0.4rem .4rem;
    display: inline-block;
    cursor: pointer;
}

.member{
    display: flex;
    flex-direction: row;
    padding: .3rem;
    cursor: pointer;
}

.member:hover{
    background-color: #F0F2F5;
}

.member img{
    width: 3rem;
    height: 3rem;
    margin: 0rem .5rem;
}

.member input{
    margin-left: auto;
    margin-right: 2rem;
}

.member label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.3rem;
    margin-top: .9rem;
    margin-left: auto;
    margin-right: 2.5rem;
    position: relative;
    width: 1.3rem;
}

.member label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: .4rem;
    left: .2rem;
    opacity: 0;
    position: absolute;
    top: .3rem;
    transform: rotate(-45deg);
    width: .8rem;
}

.member input[type="checkbox"] {
    display: none;
}

.member input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.member input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.member p{
    padding: 0rem .4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-info{
    margin: 0;
    text-align: center;
    font-weight: 600;
    margin-bottom: .5rem;
}

.add-members-popup{
    width: 52vh;
    margin-top: .5rem;
    /* display: none; */
    flex-direction: column;
    max-height: 81vh;
    overflow: auto;
}

.groups-container{
    width: 52vh;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    max-height: 82vh;
    overflow: auto;
}

.group{
    display: flex;
    flex-direction: row;
    padding: .3rem;
    cursor: pointer;
}

.group:hover{
    background-color: #F0F2F5;
}

.group img{
    width: 4rem;
    height: 4rem;
    margin: .3rem .3rem;
}

.group p{
    padding: 0.4rem .7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

h2 {
    padding: 6vh;
}
h2{
    font-size: 4.8vh;
    margin: 0;
    font-weight: 300;
}
h2 {
    font-size: 4.8vh;
    font-weight: 400;
    margin-bottom: 4.8vh;
}
h2 {
    font-size: 3vh;
}

#logout{
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0.4rem .4rem;
    display: inline-block;
    width: 2rem;
}

#create-group{
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0.4rem .4rem;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;
}

html, body {
  font-size: 2.5vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.meta {
  flex-basis: calc(80% - 50vh);
}
.meta > * {
  transition: none !important;
}
.meta > h1 {
  font-weight: 300;
  font-size: 32px;
  color: white;
}
.meta > p {
  /* line-height: 1.3; */
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.meta a {
  color: rgba(255, 255, 255, 0.6);
}
.meta a:hover {
  color: white;
}
@media (max-width: 750px) {
  .meta {
    display: none;
  }
}

.route {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}
