<body>
  <div id="app">
      <div class="groups-view">
          <div class="options">
              <i *ngIf="this.showAddMembersPopup" id='back' class="fa-solid fa-arrow-left" (click)="this.goBack()"></i>
              <i *ngIf="this.showCreateGroup" id='logout' class="fa-solid fa-angle-left" (click)="this.logout()"></i>
              <i *ngIf="this.showCreateGroup" id='create-group' class="fa-solid fa-plus" (click)="this.showAddMembersPopupHandler()"></i>
              <i *ngIf="this.showNextButton" id='next' class="fa-solid fa-arrow-right" (click)="this.setGroupName()"></i>
          </div>

          <!-- Create Group Popup -->
          <div class="add-members-popup" *ngIf="this.showAddMembersPopup">
            <p class="add-info">Add Group Participants</p>

            <div *ngFor="let user of allUsers" class="member" id="{{user.id}}" (click)="this.selectUser(user.id)">
              <img src="assets/default_user_icon.png" alt="">
              <p>{{user.name}}</p>
              <input type="checkbox" id="{{user.id}}" [checked]="this.checkUserSelected(user.id)">
              <label for="user._id"></label>
            </div>

          </div>

          <div class="popup" *ngIf="this.showPopup">
              <img src="assets/default_icon.png" alt="">
              <input [(ngModel)]="this.newGroupName" name="newGroupName" id="group-name" type="text" required placeholder="Group Name">
              <i id='submit' class="fa-solid fa-circle-check" (click)="this.createGroup()"></i>

              <svg id="svg-lines" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 284.2 152.7" xml:space="preserve">
              <path class="st0" d="M37.7,107.3h222.6c12,0,21.8,9.7,21.8,21.7s-9.7,21.8-21.8,21.8c0,0-203.6,0-222.6,0S2.2,138.6,2.2,103.3   c0-52,113.5-101.5,141-101.5c13.5,0,21.8,9.7,21.8,21.8s-9.7,21.7-21.8,21.7s-21.8-9.7-21.8-21.7s9.7-21.8,21.8-21.8"/>
              </svg>
          </div>

          <!-- Groups Container -->
          <div *ngIf="this.showCreateGroup" class="groups-container">
            <p *ngIf="showNoGroupsCreated" class="info">No Groups Created!</p>

            <div *ngFor="let group of groups;" class="group" id="{{group._id}}" (click)="showChats(group._id)">
              <img src="assets/default_icon.png" id="{{group._id}}">
              <p id="{{group._id}}">{{group.name}}</p>
            </div>

          </div>

      </div>
  </div>
</body>
