@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

#app {
  width: 52vh;
  height: 90vh;
  padding: 6vh;
  background: white;
  box-shadow: 0 0 12px #2d3d49;
}

.login-view{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: display .5s ease-in-out;
}

.register-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: display .5s ease-in-out;
}

.app-header {
  padding: 6vh;
}
.app-header, .app-header > * {
  font-size: 4.8vh;
  margin: 0;
  font-weight: 300;
}
.app-header > h1 {
  font-size: 4.8vh;
  font-weight: 400;
  margin-bottom: 4.8vh;
}
.app-header > h2 {
  font-size: 3vh;
}

.app-subheading {
  color: rgba(0, 0, 0, 0.45);
}

.app-login {
  position: absolute;
  bottom: 0;
  height: 10vh;
  line-height: 10vh;
  padding: 0 6vh;
  color: rgba(0, 0, 0, 0.644);
}
.app-login > a {
  font-weight: 400;
  text-decoration: none;
  color: #0F9EDE;
}

input {
  font-size: 2.5vh;
  width: calc(100% - 13vh);
  height: 7.5vh;
  margin-bottom: 2vh;
  background: transparent;
  position: absolute;
  top: 0;
  left: 6.5vh;
  z-index: 2;
  border: none;
  box-shadow: inset 0 -0.5vh rgba(0, 0, 0, 0.1);
}
input:focus {
  outline: none;
  box-shadow: inset 0 -0.5vh transparent;
}
input[type=text] {
  top: calc(42%);
}
input[type=number] {
  top: calc(50%);
}
input[type=email] {
  top: 58%;
}
input[type=password] {
  top: calc(58% + 7.5vh);
}


input[type=email]:valid ~ * .st1 {
  transition-timing-function: ease-in-out;
  stroke-dasharray: 50, 153;
  stroke-dashoffset: 27;
}

input[type=password]:focus ~ * .st0,
input[type=password]:valid ~ * .st0,
.app-button:focus ~ * .st0 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: -305;
}

input[type=email]:focus ~ * .st0 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: 0;
}

input[type=text]:focus ~ * .st2 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: 0;
}

input[type=number]:focus ~ * .st3 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: 0;
}

input:not(:valid) ~ .app-button {
  pointer-events: none;
  opacity: 0.6;
}

.app-button {
  text-decoration: none;
  color: #0F9EDE;
  font-size: 4.8vh;
  padding: 0 6vh;
  cursor: pointer;
  position: absolute;
  bottom: 10vh;
  font-weight: 400;
}
.app-button:focus {
  outline: none;
}
.app-button:hover{
  color: #9965AA;
}

@-webkit-keyframes button-press {
  from, 20% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  40%, to {
    opacity: 0;
  }
}

@keyframes button-press {
  from, 20% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  40%, to {
    opacity: 0;
  }
}
#welcome:target ~ * .app-button {
  -webkit-animation: button-press 2s cubic-bezier(0.77, 0, 0.175, 1) both;
          animation: button-press 2s cubic-bezier(0.77, 0, 0.175, 1) both;
}
#welcome:target ~ * .st0 {
  stroke-dashoffset: -760;
  stroke-dasharray: 140, 900;
  transition-duration: 1.2s;
  -webkit-animation: disappear 0s 1.3s both;
          animation: disappear 0s 1.3s both;
}
#welcome:target ~ * .st1 {
  transition-duration: 0.3s;
  opacity: 0;
}
#welcome:target ~ * .app-graphic {
  transform: translate(0, 0);
  opacity: 1;
}
#welcome:target ~ * #svg-lines {
  -webkit-animation: pulse 0.5833333333s 1.2s ease-in-out both;
          animation: pulse 0.5833333333s 1.2s ease-in-out both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes pulse {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes pulse {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes disappear {
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #1b212c;
}

.st0, .st2, .st1, .st3, .svg-loader-segment {
  fill: none;
  stroke: #42a3e4;
  stroke-width: 0.3vh;
  align-self: inherit;
  stroke-alignment: inside;
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.svg-loader {
  opacity: 0;
}

.st0 {
  stroke-dasharray: 0, 900;
  stroke-dashoffset: 0;
}

.st3{
  stroke-dasharray: 0, 900;
  stroke-dashoffset: 0;
}

.st2{
  stroke-dasharray: 0, 900;
  stroke-dashoffset: 0;
}

.st1 {
  transition-delay: 0.3s;
  stroke-dasharray: 50, 153;
  stroke-dashoffset: -152;
}

.svg-loader-segment {
  transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.85s cubic-bezier(0.77, 0, 0.175, 1), stroke 0.85s cubic-bezier(0.77, 0, 0.175, 1);
}

#svg-lines {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: visible;
  transform-origin: center 4vh;
}

#svg-lines0 {
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: visible;
  transform-origin: center 4vh;
}

#svg-lines1 {
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: visible;
  transform-origin: center 4vh;
}

.svg-data {
  fill: none;
  stroke-width: 0.5vh;
}

html, body {
  font-size: 2.5vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.meta {
  flex-basis: calc(80% - 50vh);
}
.meta > * {
  transition: none !important;
}
.meta > h1 {
  font-weight: 300;
  font-size: 32px;
  color: white;
}
.meta > p {
  line-height: 1.3;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.meta a {
  color: rgba(255, 255, 255, 0.6);
}
.meta a:hover {
  color: white;
}
@media (max-width: 750px) {
  .meta {
    display: none;
  }
}

.route {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}
