<body>
  <div id="app">
      <div class="chat-view">
          <div class="chat-header" (click)="this.showGroupInfo()">
              <i id='back' routerLink="../groups" class="fa-solid fa-arrow-left" (click)="this.goBack()"></i>
              <div class="chat-desc">
                <img src="assets/default_icon.png" alt="">
                <p>{{this.groupName}}</p>
              </div>
          </div>

          <!-- Chats Container -->
          <div class="chats"></div>

          <!-- Chat Form -->
          <div class="form">
              <form action="" onsubmit="return sendMessage(event)">
                  <input [(ngModel)]="this.newMessage" name="newMessage" (keyup)="this.checkInput()" id='message' type="text" placeholder="Type a message">
                  <i *ngIf="!this.isSendDisabled" id='send' class="fa-solid fa-circle-arrow-up"></i>
                  <i *ngIf="this.isSendDisabled" id='send-disabled' class="fa-solid fa-circle-arrow-up"></i>
              </form>
          </div>
      </div>
  </div>
</body>
