@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

#app {
  width: 52vh;
  height: 90vh;
  padding: 6vh;
  background: #fff;
  box-shadow: 0 0 12px #2d3d49;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #1b212c;
}

.chat-header{
    display: flex;
    flex-direction: row;
    z-index: 9999;
    width: 52vh;
}

.chat-desc{
    background-color: #F0f2f2;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    width: 32vh;
    margin: 0.2rem 3rem;
    cursor: pointer;
}

.chat-desc img{
    margin: .3rem .7rem;
    width: 3.4rem;
    height: 3.4rem;
}

.chat-view{
    font-family: Lato, sans-serif;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 52vh;
    height: 100%;
    transition: display .5s ease-in-out;
}

.chat-view h1{
    font-family: Lato, sans-serif;
}

h2 {
    padding: 6vh;
}
h2{
    font-size: 4.8vh;
    margin: 0;
    font-weight: 300;
}
h2 {
    font-size: 4.8vh;
    font-weight: 400;
    margin-bottom: 4.8vh;
}
h2 {
    font-size: 3vh;
}

.form{
    width: 52vh;
    position: absolute;
    bottom: 0;
    z-index: 999;
    background-color: #E9E9E9;
}

.form input[type=text]{
    display: inline-block;
    width: 85%;
    background-color: white;
    border: none;
    height: 2rem;
    margin: 0.4rem .7rem;
    padding: .4rem .8rem;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: .9rem;
    transition: width .5s ease-in-out;
    /* border: none; */
}

.chats{
    overflow: auto;
    max-height: 31rem;
    text-align: center;
    align-items: center;
    width: 52vh;
}

.message{
    border-radius: .4rem;
    margin: .3rem .4rem;
    color: #000;
    padding: .3rem .5rem;
    background-color: #E9E9E9;
    width: fit-content;
    clear: right;
}

.sender{
    color: white;
    background-color: #42a3e4;
    float: right;
    clear: both;
}

.info{
    display: block;
    text-align: center;
    clear: both;
    background-color: #E9E9E9;
    color: #000;
    width: fit-content;
    border-radius: .4rem;
    margin: .3rem auto;
    padding: .3rem .5rem;
}

#send{
    color: #2c87ef;
    cursor: pointer;
    font-size: 2rem;
    float: right;
    margin: 0.4rem .4rem 0 0;
    display: flex;
}

#send-disabled{
  color: gray;
  font-size: 2rem;
  float: right;
  margin: 0.4rem .4rem 0 0;
  display: flex;
}

#back{
    cursor: pointer;
    font-size: 1.6rem;
    margin: 1rem .4rem;
}

input:focus{
    border: none;
}

.form form input{
    display: inline-block;
}


html, body {
  font-size: 2.5vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.meta {
  flex-basis: calc(80% - 50vh);
}
.meta > * {
  transition: none !important;
}
.meta > h1 {
  font-weight: 300;
  font-size: 32px;
  color: white;
}
.meta > p {
  /* line-height: 1.3; */
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.meta a {
  color: rgba(255, 255, 255, 0.6);
}
.meta a:hover {
  color: white;
}
@media (max-width: 750px) {
  .meta {
    display: none;
  }
}

.route {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}
