@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

#app {
  width: 52vh;
  height: 90vh;
  padding: 6vh;
  margin: 0;
  background: #F2F5F5;
  box-shadow: 0 0 12px #2d3d49;
}

.manage-group{
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 52vh;
    height: 100%;
    transition: display .5s ease-in-out;
}

.add-participants{
    font-family: Lato, sans-serif;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 52vh;
    height: 100%;
    background-color: #FFF;
    transition: display .5s ease-in-out;
}

.add-members-popup{
    width: 52vh;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    max-height: 81vh;
    overflow: auto;
}

.remove-user, .remove-admin, .make-admin{
  font-size: medium;
}

.add-info{
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: .5rem;
}


.member{
    display: flex;
    flex-direction: row;
    padding: .3rem;
    cursor: pointer;
}

.member:hover{
    background-color: #F0F2F5;
}

.member img{
    width: 3rem;
    height: 3rem;
    margin: 0rem .5rem;
}

.member input{
    margin-left: auto;
    margin-right: 2rem;
}

.member label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.3rem;
    margin-top: .9rem;
    margin-left: auto;
    margin-right: 2.5rem;
    position: relative;
    width: 1.3rem;
}

.member label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: .4rem;
    left: .2rem;
    opacity: 0;
    position: absolute;
    top: .3rem;
    transform: rotate(-45deg);
    width: .8rem;
}

.member input[type="checkbox"] {
    display: none;
}

.member input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.member input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.member p{
    padding: 0rem .4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#group-img{
    width: 6rem;
    margin: 1.5rem auto;
}

.group-name{
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.5rem;
}

.group-info{
    margin: .5rem auto;
    font-size: 1rem;
}

.group-participants{
    z-index: 0;
    display: flex;
    flex-direction: column;
    max-height: 14rem;
    background-color: #fff;
    overflow: auto;
    border-radius: 1rem;
    margin: 1rem 1rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user{
    cursor: pointer;
    padding: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.user:hover{
    background-color: whitesmoke;
}

.user-popup{
    width: 10rem;
    flex-direction: column;
    position: absolute;
    z-index: 99999;
    background-color: #FFF;
    bottom: 1.8rem;
    right: .9rem;
    padding: 0;
    border: 1px solid #F2F5F5;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #F2F5F5;
    transition: display .3s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leave-group{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    margin: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
    height: 3rem;
}

.leave-group:hover{
    background-color: #E9E9E9;
}

.leave-group i{
    padding: .9rem 1rem;
    font-size: 1.3rem;
    color: red;
}

.leave-group p{
    color: red;
}

.add-member{
    cursor: pointer;
    /* padding: .3rem; */
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.add-member:hover{
    background-color: whitesmoke;
}

.add-p{
    position: absolute;
    top: -0.1rem;
    left: 3.5rem;
    color: #42a3e4;
    font-size: large;
}

.leave-group p{
  font-size: large;
  margin: .9rem 0.1rem;
}

.add-member i{
    color: #42a3e4;
    height: 1.5rem;
    font-size: 1rem;
    margin: 1.1rem auto .4rem 1rem ;
    cursor: pointer;
}


.brief{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-popup p{
    width: 100%;
    margin: 0 auto;
    padding: .5rem .6rem;
}

.user-popup p:hover{
    background-color: #F2F5F5;
}

.user-name{
    margin: 0.6rem 0 .1rem .7rem;
    font-size: large;
}

.user img{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
}

.user i{
    font-size: 1rem;
    margin: .9rem .4rem 0 auto;
    cursor: pointer;
}

.user span{
    position: absolute;
    margin-top: .8rem;
    right: 1.5rem;
    margin-right: .7rem;
    font-size: .8rem;
}

#back{
    font-size: 1.6rem;
    margin: 0.4rem .4rem;
    display: inline-block;
    cursor: pointer;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;
}

#back-to-manage{
    font-size: 1.6rem;
    margin: 0.4rem .4rem;
    display: inline-block;
    cursor: pointer;
}

#next{
    font-size: 1.6rem;
    margin: 0.4rem .4rem;
    display: inline-block;
    display: none;
    cursor: pointer;
    color: #42a3e4;
}

.info-header{
    margin: 0.2rem auto;
    font-size: 1rem;
    font-weight: 600;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #1b212c;
}

html, body {
    font-size: 2.5vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.meta {
    flex-basis: calc(80% - 50vh);
}
.meta > * {
    transition: none !important;
}
.meta > h1 {
    font-weight: 300;
    font-size: 32px;
    color: white;
}
.meta > p {
    /* line-height: 1.3; */
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}
.meta a {
    color: rgba(255, 255, 255, 0.6);
}
.meta a:hover {
    color: white;
}

@media (max-width: 750px) {
    .meta {
      display: none;
    }
}

.route {
    display: none;
}

*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}
