<body>
  <div id="app">
      <div class="manage-group">
          <i id='back' class="fa-solid fa-arrow-left" routerLink="../ui"></i>
          <p class="info-header">Group info</p>
          <img id='group-img' src="assets/default_icon.png" alt="">

          <div class="brief"><p class="group-name">{{this.groupName}}</p><p class="group-info">Group - {{this.members.length}} participants</p></div>

          <div class="group-participants">
            <div *ngIf="this.memberisAdmin" class="add-member" id="add-member" (click)="this.showAddParticipantsHandler()">
              <i class="fa-solid fa-user-plus" id="add-member"></i>
              <p class="add-p" id="add-member">Add Participants</p>
            </div>
            <div *ngFor="let member of members;" class="user">
              <img src="assets/default_user_icon.png" alt="">
              <p *ngIf="this.me._id !== member._id" class="user-name">{{member.name}}</p>
              <p *ngIf="this.me._id === member._id" class="user-name">{{member.name}} (You)</p>
              <span *ngIf="this.isAdmin(member._id)">Admin</span>
              <i *ngIf="memberisAdmin && member._id !== me._id" class="fa-solid fa-angle-down" (click)="this.showUserPopup(member._id)"></i>
              <div *ngIf="memberisAdmin && member._id !== me._id && member.showPopup" class="user-popup" >
                <p *ngIf="this.isAdmin(member._id)" class="remove-admin" (click)="this.dismissAdmin(member._id)">Dismiss as Admin</p>
                <p *ngIf="!this.isAdmin(member._id)" class="make-admin" (click)="this.makeAdmin(member._id)" >Make Group Admin</p>
                <p class="remove-user">Remove from Group</p>
              </div>
            </div>
          </div>

          <div class="leave-group" (click)="this.leaveGroup()">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <p>Exit Group</p>
          </div>
      </div>
      <div *ngIf="this.showAddParticipants" class="add-participants">
          <div class="options">
              <i id='back-to-manage' class="fa-solid fa-arrow-left" (click)="this.showAddParticipantsHandler()"></i>
              <i id="next" class="fa-solid fa-check"></i>
          </div>
          <div class="add-members-popup">
            <p class="add-info">Add Group Participants</p>
          </div>
      </div>
  </div>
</body>
