<body>
  <div id="app">
    <div class="register-view">
      <header class="app-header">
      <h1>Chat App</h1>
      Hi,<br/>
      <span class="app-subheading">
          let's get you<br/>
          onboarded.
      </span>
      </header>
      <input [(ngModel)]="this.signupBody.name" name="name" id='name-up' type="text" required placeholder="Name" />
      <input [(ngModel)]="this.signupBody.phone" name="phone" id='phone-up' type="number" required placeholder="Phone" />
      <input [(ngModel)]="this.signupBody.email" name="email" id='email-up' type="email" required pattern=".*\.\w{2,}" placeholder="Email Address" />
      <input [(ngModel)]="this.signupBody.password" name="password" id='password-up' type="password" required placeholder="Password" />
      <a id='sign-up-btn' (click)="this.signup()" class="app-button">Sign Up</a>
      <div class="app-login">
      Already have an account? <a id='sign-in' routerLink="../signin">Sign In</a>
      </div>

      <svg id="svg-lines0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 284.2 152.7" xml:space="preserve">
      <path class="st2" d="M37.7,107.3h222.6c12,0,21.8,9.7,21.8,21.7s-9.7,21.8-21.8,21.8c0,0-203.6,0-222.6,0S2.2,138.6,2.2,103.3   c0-52,113.5-101.5,141-101.5c13.5,0,21.8,9.7,21.8,21.8s-9.7,21.7-21.8,21.7s-21.8-9.7-21.8-21.7s9.7-21.8,21.8-21.8"/>
      </svg>

      <svg id="svg-lines1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 284.2 152.7" xml:space="preserve">
      <path class="st3" d="M37.7,107.3h222.6c12,0,21.8,9.7,21.8,21.7s-9.7,21.8-21.8,21.8c0,0-203.6,0-222.6,0S2.2,138.6,2.2,103.3   c0-52,113.5-101.5,141-101.5c13.5,0,21.8,9.7,21.8,21.8s-9.7,21.7-21.8,21.7s-21.8-9.7-21.8-21.7s9.7-21.8,21.8-21.8"/>
      </svg>

      <svg id="svg-lines" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 284.2 152.7" xml:space="preserve">
      <path class="st0" d="M37.7,107.3h222.6c12,0,21.8,9.7,21.8,21.7s-9.7,21.8-21.8,21.8c0,0-203.6,0-222.6,0S2.2,138.6,2.2,103.3   c0-52,113.5-101.5,141-101.5c13.5,0,21.8,9.7,21.8,21.8s-9.7,21.7-21.8,21.7s-21.8-9.7-21.8-21.7s9.7-21.8,21.8-21.8"/>
      <path class="st1" d="M260.2,76.3L250,87.8l-9-9c-6.2-6.2,2-24.7,17.2-24.7c15.2,0,23.9,17.7,23.9,29.7s-11.7,23.5-23.9,23.5h-10.2"></path>
      </svg>
    </div>
  </div>
</body>
